/*First background to green, 46px height*/
.beginning {
   padding-right: 145px;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: #4c8930;
   color: white;
   text-align: right;
}
/*Links to regular looking text*/
.beginning a {
   text-decoration: none;
   color: white;
}
/*Seach button to green in beginning*/
.search {
   background-color: #4c8930;
   color: white;
}
/*Resizing logo*/
.logo{
   width: 20%;
   min-width: 150px;
   padding-top: 10px;
   padding-right: 5px;
   margin-bottom: 20px;
}
.searchbar {
   text-align: right;
}
nav {
   padding-left: 130px;
   padding-right: 130px;
}