/*Max width and font used of the page*/
body {
   max-width: 1400px;
   font-family: 'Open Sans', sans-serif;
   line-height: 1.5;
   width: 100%;
}
/*Beginning styles*/
.beginning {
   padding-right: 13%;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: #4c8930;
   color: white;
   text-align: right;
}
/*Links to regular looking text*/
.link {
   text-decoration: none;
   color: white;
   padding-right: 20px;
}
.link1 {
   text-decoration: none;
   color: white;
}
.link:hover,
.link1:hover {
   color: lightgray;
}
/*The language select list adjustments*/
.ddown {
   width: 178px;
   text-align: left;
}
.ddown::after {
   margin-left: 65px;
}
.dropdown-item {
   color: black;
}
/*Button colors*/
.buttons {
   background-color: #4c8930;
   color: white;
   margin-left: 10px;
   padding-left: 12px;
}
/*Resizing logo*/
.logo{
   max-width: 150px;
   padding-top: 10px;
   padding-right: 5px;
   margin-bottom: 10px;
   margin-right: 50px;
}
/*Navbar to specific width*/
nav{
   padding-left: 12%;
   padding-right: 12%;
}
/*Navbar links to a different colour*/
.nav-link {
   color: lightgray;
}
/*Float form to right side*/
.floater {
   float: right;
   clear: both;
}
/*Searchbar width fix*/
.box {
   width: 176px;
}
/*Parallax effect to front pages first image*/
.parallax {
   position: relative;
   background-image: url("analyst.jpg");
   max-width: 1375px;
   width: 100%;
   min-height: 419px;
   margin-left: 12px;


   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% auto;
   filter: brightness(80%);
}
.parallax:hover {
   filter: none;
   text-decoration: underline white;
}
/*To show items over parallax- or normal image*/
.overlay-text {
   display: flex;
   color: white;
   height: 100%;
   align-items: center;
   justify-content: center;

}
/*Text on top of parallax image*/
.overlay-text-margin {
   font-size: 42px;
   margin-top: 143px;
   padding-bottom: 30px;
}
.mid {
   padding-left: 12%;
   padding-right: 12%;
}
/*Middle images*/
.mid-image {
   position: relative;
   margin-top: 50px;
   width: 320px;
   height: 224px;
   object-fit: cover;
   filter: brightness(60%);
   border-radius: 2%;
   z-index: -1;
}
/* Text to middle of pic*/
figcaption {
   margin-top: -6.5em;
   height: 5em;
   width: 100%;
   text-align: center;
   z-index: 1;
   color: white;
   font-size: 20px;
}
.mid-image:hover {
   filter: none;
}
/* Mid container with padding left and right */

/*Icons at the middle*/
.icons {
   position: relative;
   padding-left: 23%;
   padding-right: 23%;
   width: 100%;
}

.icon {
   margin-right: 50px;
   font-size: 300%;
   color: #4c8930;
   width: 100%;
}
/*Colour and margins for the feed*/
.feed {
   padding-top: 50px;
   background-color: #eceeef;
   margin-top: 75px;
   padding-bottom: 50px;
}
/*Individual items*/
.feedItems{
   padding-top: 25px;
   padding-bottom: 25px;
   background-color: white;
   border: 15px #eceeef;
   margin-top: 50px;
   width: 360px !important;

   
}
.feedItems:first-of-type {
   margin-left: 5%;
}
.feedItems:last-of-type {
   margin-right: 5%;
}
/*The date part*/
.feedItems span {
   color: gray;
   font-size: 80%;
}
/*The actual text*/
.feedItems p {
   margin-top: 25px;
   font-size: 120%;
   font-weight: bold;
}
/*Empty space in feed*/
.breaks {
   width: 5px;
   height: 100%;
}
/*References settings*/
.references {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bottomheader {
   margin-bottom: 50px;
}
.references h1 {
   padding-top: 10px;
   padding-bottom: 10px;
}
.references img {
   width: 100%;
   border: solid gray;
   border-width: 1px 1px;
   border-radius: 5px 5px 0 0;
   margin-bottom: -8px;
   padding-top: 40px;
   padding-bottom: 40px;
}
.references div div {
   border-style: solid;
   border: solid gray;
   border-width: 1px 1px;
   border-radius: 0 0 5px 5px;
   padding-top: 30px;
   padding-bottom: 40px;
   height: 50%;
}
/*Newsletter settings*/
.former {
   padding-top: 16px;
   width: auto;
}
.former input {
  border-radius: 4px;
  padding: 6px;
  margin-top: 5px;
  margin-right: -10px;
  width: 440px;
}
.up {
   margin-top: -4px;
}
/*Footer styles*/
footer {
   background-color: black;
   padding-top: 50px;
   padding-bottom: 50px;
}
.bottom {
   color: white;
}
.bottomButton {
   margin-top: 30px;
   margin-left: 10px;
}
.bottomButton a {
   padding-right: 20px;
}
.outer {
   color: #4c8930;
}
.inner {
   color: white;
   margin-left: 15px;
   font-size: 200%;
}
.fa-stack {
   font-size: 70%;
}